<configuration>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-Website-e4ade230-956b-4862-9a92-8ba56b911f22;AttachDbFilename=|DataDirectory|\aspnet-Website-e4ade230-956b-4862-9a92-8ba56b911f22.mdf;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />

  <!--create the connection string to your database. '.' is the server name this may change from home and school -->
  <add name="ChinookDB"
       connectionString="Data Source=.; Initial Catalog=Chinook; Integrated Security=true"
       providerName ="System.Data.SqlClient"/>
</configuration>
